/* Colors */
:root {
  --primary: #06A77D;
  --secondary: #264653;
  --accent: #E88D67;
  --background: #FFFFFF;
  --text: #2A2A2A;
  --white: #FEFDFC;
}

/* Text Style */
.rtd {
  text-decoration: none;
}

.text-primary {
  color: var(--primary);
}

.text-accent {
  color: var(--accent);
}

h1 {
  color: var(--primary);
  font-weight: 550;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Sarala', sans-serif;
}
/* Button Style */
.btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--accent);
  color: var(--white);
  transform: translateY(-3px);
}

.btn-secondary {
  color: var(--text);
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: #f1f8ff;
  color: var(--primary);
}

/* Form Style */
.form-control {
  border-radius: 6px;
  border: 2px solid #e0e0e0;
  padding: 10px;
  transition: border-color 0.2s ease;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: none;
}

/* Navbar Style */
.navbar {
  border-radius: 0 0 6px 6px;
  background-color: var(--primary);
  box-shadow: 8px 8px 13px rgba(56,56,56,0.1)!important;
  transition: ease-in-out 0.9s;
}

.navbar-brand {
  color: var(--white) !important;
  font-weight: bolder;
  font-size: 26px;
}

.navbar-brand:hover {
  color: var(--accent) !important;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Centering Content */
.results-container {
    text-align: center;
}

.results-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.serif-font {
    font-family: Georgia, 'Palatino Linotype', serif;
    font-size: 25px; /* Adjust size as needed */
    color: var(--text);
}

/* Improve Homepage Layout */
#search-form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 60vh;
}

/* Title Styling */
.title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary);
}

.subtitle {
    font-size: 1.2rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}

/* Form Styling */
.form-container {
    width: 100%;
    max-width: 500px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#div_id_type label {
  display: flex;
  flex-direction
}

/* Input Box */
.search-form input {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.search-form input:focus {
    border-color: var(--accent);
    outline: none;
}

/* Align radio buttons with labels */


/* Button Enhancement */
.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}